@charset "UTF-8";

@media screen  and (max-width: 667px) {
    body {
        align-items: center;
        overflow-x: hidden;
    }
    header nav{
        background-color: white;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        color: black;
    }
    nav a:hover{
        background-color: rgb(206, 202, 202);
    }
    main {
        grid-template-columns: 1fr;
      
    }
    .introducao {
        text-align: center;
        padding: 20px;
      
    }
    .introducao h2, .subtitulo, .vantagem{
        margin: auto ;
        
    }
}